@model AgentContactViewModel
@{
    ViewData["Title"] = "PopUpPartial";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade bootstrapModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <div class="modal-title">
                    <h4>Fill out this contact form</h4>
                </div>
                <button data-dismiss="modal" style="color:red;"> <span class="h5"> &times; </span> </button>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <a>Name</a>
                    <input id="MyName" asp-for="@Model.Name" class="form-control" placeholder="Name" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a>Email</a>
                    <input id="MyEmail" asp-for="@Model.Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a>Phone Number</a>
                    <input id="MyContactNumber" asp-for="@Model.ContactNumber" class="form-control" placeholder="Contact Number" />
                    <span asp-validation-for="@Model.ContactNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a>Intrested In</a>
                    <select id="serviceList" name="serviceList" style="font-size:medium;">
                        @foreach (var item in ViewBag.ServiceDetails)
                        {
                            <option value="@item.ServiceName">
                                @item.ServiceName
                            </option>
                        }
                    </select>
                    @*<input id="RequestDescription" asp-for="@Model.RequestDescription" class="form-control" placeholder="Interested In" />
        <span asp-validation-for="@Model.RequestDescription" class="text-danger"></span>*@
                </div>
                <div class="form-group" style="display:none">
                    <a>Service provider Email</a>
                    <input id="AgentEmail" asp-for="@Model.AgentEmail" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="contactForHelp" class="btn btn-primary" asp-controller="UserServices" asp-action="ServiceDetails" data-dismiss="modal">Contact for help</button>
                <button class="btn btn-default bg-danger text-white" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#contactForHelp').click(function () {

            alert("Succesfully Notified to Service Provider");
            var agentContactObj = {};
            agentContactObj.Name= $('#MyName').val()
            agentContactObj.Email = $('#MyEmail').val()
            agentContactObj.ContactNumber= $('#MyContactNumber').val()
            //agentContactObj.RequestDescription= $('#RequestDescription').val()
            agentContactObj.AgentEmail= $('#AgentEmail').val()

            agentContactObj.RequestDescription = $('#serviceList').val()

            $.ajax({
                type: "POST",
                url: "/UserServices/ServiceDetails",
                data: { agentContact : agentContactObj },
                dataType: "xml",
            }).success(function (data) {

            });

            window.close();

        })   
    });
</script>