@model IEnumerable<NeedyBuddy.Models.ServiceCategory>
@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $(function () {


            $('.select-service, input[name="serviceList"]').change(updateServiceElements);

            function updateServiceElements(e) {
                var serviceValueAttribute = '[value="' + e.target.value + '"]';
                //$('input:checked').removeAttr('checked');
                $(':radio').each(function () {
                    $('input[type="radio"]').prop('checked', false);
                })
                $('.select-service option' + serviceValueAttribute).prop('selected', true);
                $('input[name="serviceList"]' + serviceValueAttribute).prop('checked', true);
            }

        });
    });
</script>
<!-- Header Section end -->
<!-- Hero Section end -->
<section class="hero-section set-bg" data-setbg="~/img/hero-bg.jpg">
    <div class="container">
        <div class="hero-warp">
            <form class="main-search-form" asp-action="MyAction">

                @*******************************Populating the radio button for service category menu**********@
                <div class="search-type">
                    @{
                        var isFirstChecked = false;
                    }
                    @foreach (var item in Model.Take(3))
                    {
                        <div class="st-item">
                            <input @(isFirstChecked ? "" : "checked") type="radio" name="serviceList" id="@item.ServiceName" value="@item.ServiceCategoryId" >
                            <label for="@item.ServiceName" id="@item.ServiceCategoryId">@item.ServiceName</label>
                        </div>
                        isFirstChecked = true;
                    }


                </div>
                <div class="search-input">
                    <input type="text" placeholder="Search by state, postcode or suburb" name="searchtext" id="searchtext">
                    @*************Populating the dropdown List**********@

                    <select name="serviceList" id="serviceList" class="select-service">
                        @foreach (var item in Model)
                        {
                            <option value="@item.ServiceCategoryId">
                                @item.ServiceName
                            </option>
                        }
                    </select>

                    @********************************@
                    @*<button class="site-btn">Search</button>*@
                    <button class="site-btn" asp-action="UserServices" asp-controller="UserServices">Search</button>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
            </form>
        </div>
    </div>
</section>
<!-- Hero Section end -->
<!-- Stories Section end -->
<section class="stories-section spad">
    <div class="container">
        <div class="row ">
            @*<div class="col-lg-5 order-lg-2">
                    <img class="w-100" src="~/img/about/3.jpg" alt="">
                </div>*@
           
            <div class="col-lg-7 order-lg-1">
                <div class="about-text">
                    <h2 class="text-white">Success Stories</h2>
                    <hr />
                    <h4 class="text-danger">What the world can learn from Kerala about how to fight covid-19</h4><br />
                    <p class="text-white">The sun had already set on March 7 when Nooh Pullichalil Bava received the call. “I have bad news,” his boss warned. On February 29, a family of three had arrived in the Indian state of Kerala from Italy, where they lived. The trio skipped a voluntary screening for covid-19 at the airport and took a taxi 125 miles (200 kilometers) to their home in the town of Ranni. When they started developing symptoms soon afterward, they didn’t alert the hospital. Now, a whole week after taking off from Venice, all three—a middle-­aged man and woman and their adult son—had tested positive for the virus, and so had two of their elderly relatives. </p>
                </div>
                <a target="_blank" href="https://www.technologyreview.com/2020/04/13/999313/kerala-fight-covid-19-india-coronavirus/" class="readmore-btn">Find out more</a>
            </div>
        </div>
    </div>
</section>
<!-- Stories Section end -->