<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NeedyBuddy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("a").click(function () {
                $("a").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>

    <link rel="stylesheet" href="~/css//srp.css" />

</head>
<body class="container" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg');">

    <header class="header-section">
        <a class="site-logo h2 text-danger" asp-controller="Home" asp-action="Index">NeedyBuddy</a>

        <nav class="header-nav">
            <ul class="main-menu">
                <li class="nav-item">
                    <a class="active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="News" asp-action="Index">News</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="ContactUs" asp-action="Index">Contact Us</a>
                </li>
                @if(!String.IsNullOrEmpty(User.Identity.Name))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Home/Index">Hello @User.Identity.Name..!</a>
                    </li>
                    <li class="nav-item">
                            
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button class="register border-danger">Logout</button>
                        </form>
                                
                    </li>
                }
                else
                {
                    <li>
                        <div class="header-right">
                            <div class="user-panel">
                                <a class="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="header-right">
                            <div class="user-panel">
                                <a class="register border-danger" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </nav>
    </header>




    <div>
        <main role="main" class="pb-3" style="padding-top: 5rem !important">
            @RenderBody()
        </main>
    </div>

    <!-- Footer Section -->
    <footer class="footer-section">

        <div class="container">

            <div class="row text-white">
                <div class="col-lg-4">
                    <div class="footer-widger">
                        <div class="about-widget">
                            <div class="aw-text">
                                <p>
                                    Here at NeedyBuddy, we are responsible for smooth running of application. If you encounter any technical issue with the application/transaction, reach out to us directly to resolve the issue.
                                </p>
                                <a class="site-btn" asp-controller="ContactUs" asp-action="Index">Help us improve</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widger">
                        <h2>Company</h2>
                        <ul>
                            <li><a asp-controller="AboutUs" asp-action="Index">About us</a></li>
                            <li><a asp-controller="Home" asp-action="Index">Services</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widger">
                        <h2>Help</h2>
                        <ul>
                            <li><a asp-controller="ContactUs" asp-action="Index">Contact Us</a></li>
                            <li><a asp-controller="News" asp-action="Index">Latest News</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widger">
                        <h2>Authenticate</h2>
                        <ul>
                            <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                            <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widger">
                        <h2>Others</h2>
                        <ul>
                            <li><a href="#">volunteer</a></li>
                            <li><a href="#">Career</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                Copyright &copy; NeedyBuddy
                <script>document.write(new Date().getFullYear());</script> -  All rights reserved
            </div>
        </div>
    </footer>
    <!-- Footer Section end -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
