@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/site.css" rel="stylesheet" />
<title>Professional profile</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="profile-main">
    <div class="profile-header">
        <div class="user-detail">
            <div class="user-image">
                <img src="http://nicesnippets.com/demo/up-profile.jpg">
            </div>
            <div class="user-data">
                <h2 class="text-danger">@ViewBag.loggedinUser.UserName</h2>
                <span class="post-label">@ViewBag.loggedinUser.ServiceName</span>
                
                <p class="text-white">
                    @ViewBag.loggedinUser.Descriptions <br />
                    <i class="fa fa-map-marker" aria-hidden="true"></i>  @ViewBag.loggedinUser.City,  @ViewBag.loggedinUser.Pincode
                </p>

                <ul class="tabs">
                    <li class="tab-link current" data-tab="Basic-detail">Basic Detail</li>
                    <li class="tab-link" data-tab="Edu-detail">Service provides</li>
                </ul>
            </div>
            


        </div>

    </div>
    <div class=" tab-panel-main">

        <div id="Basic-detail" class="tab-content current col-md-12">
            <form class="" asp-controller="UserRegistration" method="post" asp-action="create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input value="@ViewBag.loggedinUser.UserName" class="form-control" placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <input value="@ViewBag.loggedinUser.Email" class="form-control" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <input type="number" value="@ViewBag.loggedinUser.ContactNumber" class="form-control" placeholder="Phone Number" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input value="@ViewBag.loggedinUser.Descriptions" class="form-control" placeholder="Description" />
                        </div>
                        <div class="form-group">
                            <input value="@ViewBag.loggedinUser.City" class="form-control" placeholder="City" />
                        </div>
                        <div class="form-group">
                            <input type="number" value="@ViewBag.loggedinUser.Pincode" class="form-control" placeholder="Pincode" />
                        </div>
                    </div>

                </div>

                <div class="row text-white" style="display: flex;  align-items: center;  justify-content: center;">
                    <button type="submit" class="btn btn-primary bg-danger border-danger" style="width:20%;">Save</button>
                </div>
                


            </form>
        </div>
        <div id="Edu-detail" class="tab-content">
            <div class="Edu-box-main text-danger">

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-danger">Non-selected Services</h4>
                        <ul id="nonSelectedServices">
                            @foreach (var service in ViewBag.nonSelectedServicesList)
                            {

                                <li id="@service.ServiceCategoryId">@service.ServiceName &nbsp; &nbsp; &nbsp; &nbsp;<a class="add" style="color:green;">&#10010;</a></li>
                            }
                            @foreach (var service in ViewBag.selectedServicesList)
                            {

                                <li id="@service.ServiceCategoryId" style="display:none;">@service.ServiceName &nbsp; &nbsp; &nbsp; &nbsp;<a class="add" style="color:green;">&#10010;</a></li>
                            }
                        </ul>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-danger">Selected Services</h4>

                        <ul id="selectedServices">
                            @foreach (var service in ViewBag.selectedServicesList)
                            {
                                <li id="@service.ServiceCategoryId">@service.ServiceName &nbsp; &nbsp; &nbsp; &nbsp;<a class="close" style="color:red;">&times;</a></li>
                            }
                            @foreach (var service in ViewBag.nonSelectedServicesList)
                            {
                                <li id="@service.ServiceCategoryId" style="display:none;">@service.ServiceName &nbsp; &nbsp; &nbsp; &nbsp;<a class="close" style="color:red;">&times;</a></li>
                            }
                        </ul>
                    </div>

                </div>
                <br />

                <button type="submit" class="btn btn-primary bg-danger border-danger" >Save</button>



            </div>
        </div>
       
    </div>
    <div style="clear: both;"></div>
   
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('ul.tabs li').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        });

        $('.close').click(function () {              

            var parentId = $(this).parent().attr("id");
            this.parentElement.style.display = 'none';
            $('#nonSelectedServices #' + parentId).css("display", "inline-block");

        });

         $('.add').click(function () {
            var parentId = $(this).parent().attr("id");
            this.parentElement.style.display = 'none';

            $('#selectedServices #' + parentId).css("display", "inline-block");

        });



        
    });

        
</script>


